h1 {
	font-family: serif;
	font-size: 2em;
    font-weight: normal;
}

body {
	font-family: helvetica, arial, sans-serif;
}

html{
	text-align: center;
	background: #313139;
	color: #aaa;
}

.button {
    background-color: #888;
    border: none;
    color: #black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#video {
	display: none;
}