.postbitlegacy .userinfo .rank{padding-left:1px;}
.postbitlegacy .userinfo UL.badges { list-style: none; overflow: auto; display: table; text-align: center; margin: 0 auto; margin-top:10px !important; float: none !important;  margin-bottom: 0px !important; }
.postbitlegacy .userinfo UL.badges LI { display: table-cell; padding-left: 4px; padding-right: 4px;}
.postbitlegacy .userinfo { width: 174px !important; padding: 10px !important; text-align:center !important; }
body{min-width:650px;max-width:auto;margin:0px auto 0px auto;font-size:13px;color:#FFFFFF;line-height:1.230;}
.above_body, .body_wrapper, #top_ad_bg{width:1130px !important;box-sizing: border-box;}
.above_body{margin-top:79px !important;}
.postbitlegacy .postrow, .eventbit .eventrow, .postbitdeleted .postrow, .postbitignored .postrow, .bbcode_container div.bbcode_quote div.message{font-size:13px !important;z-index:1;position:relative;}
.bbcode_container div.bbcode_quote{}
.postbit .posttitle, .postbitlegacy .title{margin-bottom:14px;}
.postbitlegacy .title{padding-top:2px;font-size:14px;}
.forumbit_post .foruminfo .forumdata .forumtitle a, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle a, .threadbit .title{font-size:14px;}
.forumbit_post .forumdescription{padding-top:1px;line-height:14px;}
.forumbit_post .forumstats li, .forumbit_post .forumstats_2 li, .threadstats a, .threadstats li{font-size:12px;}
.forumbit_nopost .forumhead .forumtitle, .forumbit_nopost .forumhead span, .forumbit_nopost .forumhead .collapse, .forumhead h2 span, #forums .L1 .forumhead a{font-size:13px;margin-top:1px;}
.forumhead.foruminfo.L1, .forumhead{margin-top:14px;height:30px;}
.forumbit_post .foruminfo{padding:7px 0 8px;}
.forumbit_post .forumrow .forumlastpost, .forumbit_post .forumrow .forumlastpost, .threadbit .threadlastpost .username{font-size:12px;}
.forumbit_post .forumlastpost .lastpostdate{margin-top:4px;}
.threadbit .threadmeta{margin-top:1px;}
.below_body{display:none;}
.postcontent{font-size:14px;}
.body_wrapper *{font-family:'Open Sans', sans-serif !important;}
.postbitlegacy .postrow, .eventbit .eventrow, .postbitdeleted .postrow, .postbitignored .postrow{font-size:13px !important;line-height:17px;}
.bbcode_container div.bbcode_quote{line-height:18px;}
.username_arrow{margin-left:4px;margin-bottom:1px;display:none;}
.postdetails .username_arrow{display:inline;}
.postdetails .userinfo .popupgroup .popupmenu:hover a.popupctrl.active, .userinfo .popupmenu a.popupctrl.active{background-color:rgb(66, 73, 84);color:#ffce1e;position:relative;z-index:101;}
.postdetails .memberaction_body.popupbody{margin-left:-5px;border:0;top:-6px !important;left:0px !important;z-index:100;padding:5px 9px 5px 7px;-webkit-border-radius:0px;border-radius:0px;}
.dd-na{font-size:14px;color:rgba(255, 255, 255, 0);font-weight:bold;width:100%;margin-bottom:5px;word-wrap:break-word;display:none;}
.postdetails .dd-na{display:block;}
.follow_form h3.blocksubhead{margin-top:9px;padding-top:6px;border:none;}
.memberaction_body.popupbody li .siteicon_follow{background:url(http://foros.3dgames.com.ar/images/site_icons/follow.png) left 4px no-repeat;background-size:15px;}
li#tab_ody0_595{display:none;}
#taboola-header-thumbnails{padding:6px 16px;}
#footer_ad_wrapper{height:auto !important;}
.adrtb{margin-bottom:20px;}
#SC_TBlock_86499{padding:14px;}
#footer_ad_wrapper .adtitle{margin:9px 23px 0;font-size:16px;color:rgb(255, 184, 75);font-weight:bold;}
img[width="1"]{display:none;}
.postbitlegacy.firstpost .postbody, .eventbit .eventdetails .eventbody, .postbitlegacy.firstpost .postfoot .postcontrols, .postbitlegacy.firstpost .postfoot .textcontrols, .postbitlegacy.firstpost .posthead{/*background-color:rgb(60, 71, 89);*/}
.postbitlegacy.firstpost .userinfo, .postbitlegacy.firstpost .postfoot .postlinking, .postbitlegacy.firstpost .postdetails, .eventbit .eventdetails{/*background-color:rgb(42, 58, 84);*/}
span.postlinking{height:20px;}
.postbitlegacy.firstpost .postfoot .textcontrols a{background-color:transparent !important;}
.postbitlegacy.firstpost .shareDropdown .dropdown-menu{background-color:/*rgb(60, 71, 89);*/}
.thread3dgbar{display:block;width:100%;clear:both;position:relative;float:left;border:1px solid #000;margin:0px 0px 0px;background:rgb(52, 64, 84);height:41px;}
.share-links{position:absolute;top:8px;left:174px;}
.thread3dgbar .share-links a{height:26px;width:26px;display:inline-block;margin:0 auto;text-indent:-9999px;background-size:100%;background-repeat:no-repeat;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;float:left;margin-right:14px !important;}
.thread3dgbar .share-links a:hover{margin-top:-2px;}
.thread3dgbar .twShare{background-image:url('/images/tw-share.png');}
.thread3dgbar .fbShare{background-image:url('/images/fb-share.png');}
.thread3dgbar .gpShare{background-image:url('/images/gp-share.png');}
.thread3dgbar .ptShare{background-image:url('/images/pt-share.png');}
.thread3dgbar .intro{position:absolute;left:17px;top:13px;font-weight:bold;}
.stats{margin-top:13px;border-left:1px solid #aaa;padding-left:6px;position:relative;float:right;margin-right:18px;}
.stats li{float:left;margin-left:14px;}
.threadtools{height:15px;padding-left:23px;font-weight:bold;float:right;margin-top:13px;position:relative;width:161px;}
.scBtn{height:25px;width:20px;display:inline-block;margin:0 auto;text-indent:-9999px;background-image:url('/images/scBtn.png');background-repeat:no-repeat;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;top:-6px;position:absolute;left:143px;}
.scBtn:hover{margin-top:-2px;}
.shareDropdown{position:relative;display:inline-block;z-index:97;padding:0 5px;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shareDropdown .dropdown-menu{position:absolute;bottom:-10px;right:-10px;display:none;margin:0;list-style:none;width:62px;background-color:rgb(66, 73, 84);text-align:left;padding:5px 10px 42px;z-index:9998;-moz-box-shadow:-2px -2px 6px #242424;-webkit-box-shadow:-2px -2px 6px #242424;box-shadow:-2px -2px 6px #242424;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.shareDropdown:hover{margin-left:51px;}
.shareDropdown:hover .dropdown-menu{display:block;}
.shareDropdown:hover .m{}
.shareDropdown button{height:16px;width:16px;background:url('/images/shareBtn.png');background-repeat:no-repeat;color:#FFFFFF;border:none;margin:0;text-indent:-9999px;position:relative;z-index:9999;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shareDropdown a{display:block;padding:0.2em 0.8em;text-decoration:none;color:#fff;}
.shareDropdown a:hover{}
.shareDropdown a{padding:5px !important;margin:0 !important;background:transparent !important;}
.m{color:#ffb84b;z-index:9999;position:absolute;left:9px;bottom:10px;font-size:14px;width:59px;border-top:1px solid #7C8590;padding-top:7px;padding-left:5px;cursor:default;}
.me-gusta{cursor:default;display:flex;align-items:center;color:#d0d0d0;}
.me-gusta a {cursor:default;display:flex;align-items:center;color:#d0d0d0 !important;}
.liked .me-gusta{color:#ffc84b;}
.liked .me-gusta a{color:#ffc84b !important;}
.me-gusta a:hover{text-decoration:underline;cursor:pointer;}
.me-gusta .like{display:flex;}
.me-gusta .likes{font-size:13px;margin-left:3px;margin-right:5px;margin-top:2px;font-weight:bold;}
.empty .me-gusta .likes{width:0;overflow:hidden;text-indent:-1000px;transition:text-indent 0s linear 0.5s;margin-right:0px;margin-left:4px;}
.me-gusta .text{display:inline-block;width:auto;text-align:left;font-size:13px;margin-left:3px;margin-top:0px;z-index:1;}
.me-gusta-wrapper{position:relative;margin-top:20px;margin-left:10px;}
.me-gusta-wrapper .liked_by{font-size:13px;float:left;margin-top:2px;margin-left:5px;color:#ccc;opacity:0;background:#333;padding:7px;position:absolute;bottom:20px;left:-12px;transition:bottom 0.5s ease, opacity 0.3s ease;z-index:0;}
.me-gusta-wrapper .liked_by li:first-child{margin-bottom:3px;}
.me-gusta-wrapper.empty .liked_by{display:none !important;}
.like:hover + .liked_by{bottom:30px;opacity:1;display:block;z-index:2;}
.liked_by::after{content:"";width:0;height:0;border-left:6px solid transparent;border-right:5px solid transparent;border-top:5px solid #333;bottom:-5px;position:absolute;left:10px;}
.liked_by li{margin:0 4px;}
.menu-open-button{margin-top:1px;display:inline-block;background:#EEEEEE;border-radius:100%;width:16px;height:16px;color:#FFFFFF;text-align:center;-webkit-transition:-webkit-transform ease-out 200ms;transition:-webkit-transform ease-out 200ms;transition:transform ease-out 200ms;transition:transform ease-out 200ms, -webkit-transform ease-out 200ms;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;-khtml-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;}
.menu-open{display:none;}
.menu{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;width:80px;height:80px;text-align:center;box-sizing:border-box;font-size:26px;}
.menu-item:hover{background:#EEEEEE;color:#3290B1;}
.me-gusta-wrapper .menu-open-button{background-image:url('/images/like.jpg');transition:background-image 0s linear;}
.me-gusta-wrapper.empty .menu-open-button{background:url('/images/likeb.jpg');z-index:2;-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition-duration:400ms;transition-duration:400ms;-webkit-transform:scale(1.1, 1.1) translate3d(0, 0, 0);transform:scale(1.1, 1.1) translate3d(0, 0, 0);transition:background-image 0.2s ease;}
.me-gusta .likes{color:#ffc84b;}
.me-gusta .bold{font-weight:bold;}
.liked .menu-open-button{animation:boxShadowAnim 0.2s 1 ease-out;}
@keyframes boxShadowAnim{from{box-shadow:rgba(255, 224, 178, 1) 0px 0px 0px 0px;}
to{box-shadow:rgba(255, 224, 178, 0) 0px 0px 0px 10px;}
}
@media (max-width:1129px){body{width:95%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#user_bar #wrapper{width:95%;padding:0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input.gsc-input{width:50% !important;}
}
.forumhead, .forumbit_post .forumrow, .forumbit_nopost .forumhead, .forumbit_nopost .forumrow, .forumbit_post .forumhead, .forumbits .forumhead{border:none !important;background:#585f6d !important;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;}
.forumhead + .childforum .L2:first-child .forumrow, .forumhead + .L2 .forumrow{border-top:none !important;}
.forumrow.table, .forumbit_nopost .forumbit_nopost .forumrow, .forumbit_post .forumrow{border:none !important;padding:3px 0 !important;border-top:1px solid #32363c !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#forums .forumrow.table, #forums .forumbit_nopost .forumbit_nopost .forumrow, #forums .forumbit_post .forumrow{padding:8px 0 !important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in;}
#forums .forumrow.table:hover, #forums .forumbit_nopost .forumbit_nopost .forumrow:hover, #forums .forumbit_post .forumrow:hover{background-color:#454d5a !important;}
.forumbit_nopost .forumbit_nopost .forumrow, .forumbit_post .forumrow{background:#3f4650 !important;}
.forumbit_nopost{-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75);-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75);box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75);}
#forums .L1 .L2{overflow:hidden !important;}
.forumhead.foruminfo.L1, .forumhead{height:33px !important;}
.forumbit_nopost .forumhead .forumtitle, .forumbit_nopost .forumhead span, .forumbit_nopost .forumhead .collapse, .forumbit_post .forumhead h2 span{font-weight:600 !important;padding:7px 0 !important;}
.forumbit_post .forumrow, .forumbit_nopost .forumhead, .forumbit_nopost .forumrow, .forumbit_post .forumhead, .forumbits .forumhead{-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}
p.lastposttitle a{font-size:12px !important;}
.forumbit_post .forumrow .forumlastpost{font-size:12px !important;}
.subforum img{margin-right:3px;}
.threadbit .alt{background:transparent !important;}
.threadbit .sticky, .threadbit .nonsticky, .threadbit .discussionrow{background:#424954 !important;border:none !important;border-top:1px solid #32363c !important;padding:5px 0 !important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in;}
.threadbit .sticky:hover, .threadbit .nonsticky:hover, .threadbit .discussionrow:hover{background-color:#454d5a !important;}
.threadlisthead.table, .forum_info .blockhead, .postbit .posthead, .postbitlegacy .posthead, .eventbit .eventhead, #quickreply_title, .thread_info h4, .blockhead, .searchlisthead, .blocksubhead{background:#606877 !important;border:none !important;margin:10px 0 0px !important;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;padding:5px 10px 5px 10px !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}
.searchlisthead{margin-bottom:10px !important;}
#searchtypes .blocksubhead{margin-top:0 !important;}
.threadlisthead.table, .forum_info .blockhead, .postbit .posthead, .postbitlegacy .posthead, .eventbit .eventhead{}
.postbitlegacy.firstpost .posthead{background:#4a566b !important;}
.forumbit_nopost .forumbit_nopost .forumrow,{padding:3px !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.toolsmenu{margin-bottom:-10px !important;background:#606877 !important;border:none !important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.threadlist .threads, .threadlist .stickies{display:block;clear:both;overflow:hidden;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;}
.newcontent_textcontrol{border:#f9a729 !important;background:#f1921a !important;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;font-weight:600 !important;position:absolute !important;margin-bottom:5px !important;margin-left:2px !important;margin-top:10px !important;padding:6px 17px 7px !important;font-size:15px !important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in;}
.newcontent_textcontrol:hover{background:#f9ab32 !important;}
.above_threadlist .newcontent_textcontrol,
.above_postlist .newcontent_textcontrol{margin-left:0 !important;}
.navpopupmenu.popupmenu.nohovermenu a.textcontrol, .navpopupmenu.popupmenu.nohovermenu a.popupctrl, .forum_info_form .options_input_block .button, .actionbuttons .group .button, #tag_edit_link{border:#f9a729 !important;background:#f1921a !important;-webkit-box-shadow:0px 2px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 2px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 2px 2px 0px rgba(50,50,50,0.75) !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;padding:4px 7px 6px !important;margin:0 2px !important;font-weight:600 !important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in;}
.navpopupmenu.popupmenu.nohovermenu a.textcontrol:hover, .navpopupmenu.popupmenu.nohovermenu a.popupctrl:hover, .forum_info_form .options_input_block .button:hover, .actionbuttons .group .button:hover, #tag_edit_link:hover{background:#f9ab32 !important;}
#tag_edit_link{margin:4px 0 !important;}
.forum_info .blockbody, .thread_info_block, #footer_ad_wrapper, #tv_ads_wrapper, #google_links_wrapper, #interpost_ad_wrapper{border:0 !important;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;padding:8px 5px !important;}
#google_links_wrapper { clear:both; margin-bottom: 15px !important; box-sizing: border-box; }
.navbar{border:none !important;}
.navtabs{background:#606877 !important;}
.navtabs ul{border:none !important;}
.navtabs li{border:none !important;}
.navtabs li a.navtab{background:#606877 !important;border-color:#5c5f65 !important;padding:0 20px !important;}
.threadbit .threadmeta .author{display:inline-flex !important;position:relative !important;top:4px !important;}
.threadbit .pagination{position:relative !important;display:inline-flex !important;margin-left:6px !important;margin-top:-2px !important;}
.threadbit .threadlastpost .username{font-size:12px !important;display:block !important;margin-bottom:2px !important;}
.threadtitle img{position:relative;top:1px;margin-right:2px;}
.above_threadlist .newcontent_textcontrol{position:absolute;margin-bottom:5px;left:0;margin-top:10px;padding:6px 17px 7px;font-size:15px;font-weight:600 !important;}
.bbcode_container div.bbcode_quote{line-height:normal !important;}
.toolsmenu{background:transparent !important;margin-top:5px !important;}
.postlist, #postlist{margin-top:78px !important;}
.postbit, .postbitlegacy, .eventbit{border:none !important;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;margin-bottom:15px !important;}
//#posts .postbit:first-child, #posts .postbitlegacy:first-child, #posts .eventbit:first-child{margin-bottom:5px !important;}
.postbit .posthead, .postbitlegacy .posthead, .eventbit .eventhead{margin:0 !important;}
.thread3dgbar{border:none !important;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;margin-bottom:15px !Important;}
.postbit .posthead .nodecontrols a, .postbitlegacy .posthead .nodecontrols a, .eventbit .eventhead .nodecontrols a{position:relative !important;top:0px !important;color:#aeb9ce !important;}
.postbit .posthead .postdate, .postbitlegacy .posthead .postdate{margin-left:0px !important;}
.postdate .date{margin-left:4px !important;}
.postbitlegacy .postrow, .eventbit .eventrow, .postbitdeleted .postrow, .postbitignored .postrow{padding:10px 16px 10px !important;}
.postbit .posttitle, .postbitlegacy .title{margin-bottom:13px !important;border-color:#32363c !important;color:#9fa6b1;}
.me-gusta-wrapper{margin-left:17px !important;}
.postbitlegacy .after_content{padding:0 6px !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.below_postlist{margin-bottom:24px !important;}
.blockbody, .blockfoot, .blocksubfoot{border:none !important;}
#quick_reply{-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;-webkit-box-shadow:0px 4px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 4px 2px 0px rgba(50,50,50,0.75) !important;}
.texteditor.forum .cke_skin_kama textarea.cke_source, .texteditor.forum textarea{padding:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:170px;resize:vertical !important;}
.cke_contents{min-height:150px !important;padding:0 6px !important;}
.cke_skin_kama{-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;border:none !important;}
.formcontrols .blockrow{border:none !important;padding:3px !important;}
.cke_top{padding:6px 5px !important;}
.cke_bottom{display:none !important;}
.blockfoot, .blocksubfoot{background:#424954 !important;padding:2px 0 11px !important;}
#footer{-webkit-box-shadow:0px 2px -98px 0px rgba(50,50,50,0.75) !important;-moz-box-shadow:0px 2px 2px 0px rgba(50,50,50,0.75) !important;box-shadow:0px 2px 2px 0px rgba(50,50,50,0.75) !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;}
.postlistfoot{}
.userinfo{padding-top:8px !important;}
.cke_skin_kama .cke_wrapper.cke_ltr, .cke_skin_kama .cke_wrapper.cke_rtl{background:#606877 !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;}
.forumbits{margin-top:7px !important;margin-bottom:0px !important;}
.below_postlist .pagination_bottom{margin-bottom:0px !important; min-height:30px}
.cke_skin_kama .cke_editor .cke_rcombo a, .cke_skin_kama .cke_editor .cke_toolgroup{background:#c3c6ca !important;}
.cke_skin_kama .cke_rcombo .cke_text{color:#000 !important;}
.postbitlegacy.firstpost .userinfo, .postbitlegacy.firstpost .postfoot .postlinking, .postbitlegacy.firstpost .postdetails, .eventbit .eventdetails{/*background-color:rgb(44, 59, 82) !important;*/}
#below_threadlist{margin-bottom:35px !important;}
.forumbit_nopost .forumhead a.collapse img{top:-11px !important;right:0px !important;}
.threadbit .threaddetails{margin-left:10px !important;}
.cke_skin_kama .cke_contents{padding:4px 6px 7px !important;}
.formcontrols .section{padding:15px !important;}
#nrreview #postlist{margin-top:0px !important;padding-top:12px !important;}
#nrreview #postlist .blockrow{padding:14px !important;border:1px solid #3b414a !important;}
::selection{background:#ffb84b;}
::-moz-selection{background:#ffb84b;}
body{cursor:default;}
#searchbits .threadbit{box-shadow:none !important;}
#searchtypeswitcher a{border:none !important;padding:9px 14px !important;}
#searchtypeswitcher .selected a{background:#606877 !important;}
#tv_ads_wrapper{box-sizing: border-box;margin-top: 16px;text-align: center;height: 269px !important;display: flex !important;flex-flow: row wrap;justify-content: space-evenly;}
#tv1_ad, #tv2_ad {float: none !important;display: inline-block;}
.postrow > #tv1_ad, .postrow > #tv2_ad {margin: 0 4rem;}
#postlist #tv_ads_wrapper{margin: 0px 0 15px !important;}
#interpost_ad_wrapper{box-sizing: border-box;height: 106px !important;margin-bottom: 15px;}
LI.gads_interblock {
  background-color: #3f4650;
  border-top: 1px solid #32363c;
  clear:left;
  padding-top:5px;
  padding-bottom:5px;
}
LI.gads_interblock .wrapper {
  width:970px;
  margin:0 auto;
}
.announcerow{
  border: none !important;
  -webkit-box-shadow: 0px 4px -98px 0px rgba(50,50,50,0.75) !important;
  -moz-box-shadow: 0px 4px 2px 0px rgba(50,50,50,0.75) !important;
  box-shadow: 0px 4px 2px 0px rgba(50,50,50,0.75) !important;
  margin: 10px 0px 0px 0px !important;
  box-sizing: border-box;  
}

.announcement {
  padding: 3px 0;
}

.announcement dl, .announcement dl a {
  font-size: 14px !important;
  margin-bottom: 5px;
}

.announceinfo {
  margin-top: 6px;
}
.announcements .announcerow{
  /* animation: superannouncementflash 2s infinite;
  -webkit-animation: superannouncementflash 1.5s infinite; */
}

.announcerow .announcement,
.announcerow .announceinfo{
  background: transparent !important;
}

@keyframes superannouncementflash
{
  0%   {background: #505866;}      
  50%  {background: #5d6675;}      
  100% {background: #505866;}
}

@-webkit-keyframes superannouncementflash /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #505866;}      
  50%  {background: #5d6675;}      
  100% {background: #505866;}
}
input.gsc-input {
  padding: 5px 46px 6px 13px !important;
  background: rgba(255, 255, 255, 0.88) !important;
  border-radius: 2px;
  color: #24262c;
  border: 0;
}
.gsib_a {
  padding: 0 !important;
}
#donate-userbar:hover a {
  border: 0 !important;
  background: transparent;
}

#donate-userbar > a {
  position: relative;
  width: 34px;
  top: 13px;
  right: 7px;
  padding: 0;
  margin: 0;
}

#donate-userbar img {
  width: 34px;
  transition: all .7s ease-out;
}

#donate-userbar:hover img{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);  
}
.postbit_user_stats {
	position:relative;
        background: #4f5760;
        border: 1px solid #545c66;
        width: 162px;
	margin:18px auto 0;
        box-sizing: border-box;
      }
      
      .postbit_user_stats .info {
        list-style-type: none;
        padding: 8px 6px 6px;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
      }
      
      .postbit_user_stats:before, .postbit_user_stats:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .postbit_user_stats:before {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #545c66;
        border-width: 8px;
        margin-left: -8px;
      }
      
      .postbit_user_stats:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #4f5760;
        border-width: 7px;
        margin-left: -7px;
      }

      .postbit_user_stats .info li {
        width: 53px;
        font-size: 12px;
        text-align: center;
        color: #b6c1c7;
        display: list-item;
      }
      
      .postbit_user_stats .info img {
        display: inline-block;
      }
      
      .postbit_user_stats .info span {
        display: block;
        margin-top: 4px;
      }
.hot_threads_stats {
  font-size:10px;
  margin-right:5px;
  margin-top:3px;
}
#hot_threads a {
  font-weight:bold;
  white-space:nowrap;
}
#hot_threads .hot_threads_link {
  overflow: hidden;
  max-width: 470px;
  text-overflow: ellipsis;
}
#hot_threads .hot_threads_op a { color: #90a2b3 !important; }
@font-face{
font-family:"FontAwesome";
src:url("/fonts/fontawesome-webfont.eot?v=3.0.2");
src:url("/fonts/fontawesome-webfont.eot?#iefix&v=3.0.2")
format("embedded-opentype"),url("/fonts/fontawesome-webfont.woff?v=3.0.2") 
format("woff"),url("/fonts/fontawesome-webfont.ttf?v=3.0.2") 
format("truetype");
font-weight:normal;
font-style:normal}

[class^="t-icon-"], [class*=" t-icon-"] {
    font-family: FontAwesome !important;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
.t-icon-eye-open:before {
    content: "\f06e";
}
.t-icon-book:before {
    content: "\f02d";
}

application-4e7cfab..css:1
[class^="t-icon-"]:before, [class*=" t-icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

/* Back to top */
.back-to-top {
  visibility: hidden;
  background-color: #424954;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 45px;
  right: 30px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 4px;
}

.back-to-top svg {
  position: relative;
  top: 12px;
}

.back-to-top:hover {
  background-color: #f1a931;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 26px;
  opacity: 1;
}
.postbit_discord_status {
    margin-top: 20px;
}
a.siteicon_usernotes {
	background: url(/images/note.svg) center center no-repeat !important;
	background-size: 100% !important;
	width: 17px;
	height: 14px;
	overflow: hidden;
	padding: 0 !important;
	margin-right: 11px;
	position: relative;
	top: 2px;
}
